.header{
  background-image: linear-gradient(#2f2b50c7), url('../img/backg.png');
  background-attachment: fixed;
  margin-bottom: 70px;
}
.header-logo{
  text-align: center;
  border-bottom: 1px solid #23c4ce7a;
  margin-bottom: 15px;
  &__img{
    opacity: 0.5;
  }
  &__text{
    color: #00ffed;
    opacity: 0.5;
    font-size: 25px;
    font-stretch: ultra-condensed;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
}

.header__menu{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 180px;
  border-bottom: 1px solid #23c4ce7a;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 15px;
  }
  ul li {
    float: left;
  }
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
  ul li a:hover:not(.active) {
    color: #111;
  }
  ul li a.active {
    background-color: #4CAF50;
  }
  ul li{
    float: right;
  }
}
@media screen and (max-width: 600px){ 
  .header__menu ul li {
    float: none;
  }
}
.header__title{
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
hr { 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: none;
  background: #00ffed;
  width: 100px;
  height: 1px;
}
.header__text{
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  margin-bottom: 50px;
}
.header__button{
  text-align: center;
  button{
    padding: 10px 20px;
    border: 1px solid #00ffed;
    border-radius: 3px;
    background: none;
    margin-bottom: 120px;
    color: #00ffed;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 1px #000000;
  }
  button:hover{
    background: #000;
    opacity: 0.4;
    color: #fff;
    transition: 1s;
  }
}