.header{
  background-image: linear-gradient(#2f2b50c7), url('../img/backg.png');
}
.logo{
  text-align: center;
  border-bottom: 1px solid #23c4ce7a;
  margin-bottom: 15px;
  &__img{
    opacity: 0.5;
  }
  &__text{
    color: #23c4ce;
    opacity: 0.5;
    font-size: 25px;
    font-stretch: ultra-condensed;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
}
.home__menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.home__menu ul li {
  float: left;
}
.home__menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.home__menu ul li a:hover:not(.active) {
  color: #111;
}
.home__menu ul li a.active {
  background-color: #4CAF50;
}
.home__menu ul li{
  float: right;
}
@media screen and (max-width: 600px){ 
  .home__menu ul li {
    float: none;
  }
}