.about
  .about__img
    img(src='../img/logo-big.png')
  .about__title
    |OUR STORY
  .about__text
    |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus

    |Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  .about__button
    button
      |Learn More
  .about__video
    video(controls='controls' poster='../img/backgTv.png' src='../video/ivfr.mp4' type="video")