.article
  .article__title
    |EXPERTISE
  .article__text
    |Lorem ipsum dolor sit amet proin gravida nibh vel velit
  hr

  .article__article
    .article__article-icon
      .sprite.sprite-tv-icon
    .article__article-title
      |WEB DESIGN & DEVELOPMENT
    .article__article-text
      |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.