.header  
  .logo
    .logo__img
      img(src='../img/logo.png')
    .logo__text
      |tajam  
    
  -var menu = ['CONTACT','PEOPLE SAY','WORKS','TEAMS','EXPERTISE','ABOUT','HOME'];
  .home__menu
    ul
      each item,index in menu
        li(class=index==0?'is-active': '')
          a(href='#')=item
